###  CARPETAS  ###
/ACImagenes/
/BootstrapAlert/
/bxslider/
/Captcha/
/cbb/
/CDImagenes/
/CDReportesPDF/
/ChartSentinel/
/chatZopim/
/CKEditor/

### ARCHIVOS ###
*.cs
*.rsp
*.exe
*.xlsx
*.xlsm
*.exe.config
*.gen
*.js